//UTILS
@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/is-hidden";

//BASE
@import "./base/common";
@import "./base/section";
@import "./base/container";

//COMPONENTS
@import "./componets/button";
@import "./componets/logo";
@import "./componets/section-title";
@import "./componets/social-list";
@import "./componets/addres";
@import "./componets/menu";
@import "./componets/overlay";
@import "./componets/modal-backdrop";
@import "./componets/modal-window";
@import "./componets/modal-close";
@import "./componets/description";
@import "./componets/mobile-menu";

//LAYOUT
@import "./layout/header";
@import "./layout/hero";
@import "./layout/skills";
@import "./layout/services";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/portfolio";
@import "./layout/modal-form";