.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients__list{
    display: flex;
}
.clients__item{
&:not(:last-child){
    margin-right: 30px;
}
}


.clients__icon{
    fill:var(--bord-color);
    transition: fill  var(--duration) var(--timing-function);

   .clients__link:hover &,
   .clients__link:focus &{
    fill: var(--akcent-color);
}
}
.clients__link{
    height: 92px;
    width: 170px;
    border: 1px solid var(--bord-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border  var(--duration) var(--timing-function);

    &:hover,
    &:focus{
    border-color:var(--akcent-color);
}
}

