.footer{
    background-color:var(--footer-bg);
    text-align: center;
}
.footer__main-container{
    align-items: baseline;
    padding-bottom: 60px;
    padding-top: 60px;
}
.footer__contacts-wrapper{
margin-bottom: 60px;
}
      /*====Соц-сети футер====*/
    .footer__social-wrapper{
    margin-bottom: 60px;
    }
.footer__social-title{
font-family: var(--main-font);
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--primary-navigation-color);
margin-bottom: 20px;
}
.footer__social-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__social-item{
  &:not(:last-child){
    margin-right: 10px;
}
}

.footer__social-icon{
    width: 20px;
    height: 20px;
    fill: var(--primary-navigation-color)
}
.footer__social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color  var(--duration) var(--timing-function);

    &:hover,
    &:focus{
    background-color: var(--akcent-color);
}
}


.footer__form-description{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-navigation-color);
    margin-bottom: 20px;
}
.footer__form-input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background:transparent;
    color: var(--primary-navigation-color);
    cursor: pointer;
    padding: 15px 16px;
    margin-bottom: 20px;

    &::placeholder{
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
}

.footer__form-btn{
width: 200px;
height: 50px;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color:var(--primary-navigation-color);
background-color: var(--akcent-color);
border-radius: 4px;
margin-left: 12px;
border: none;
cursor: pointer;
transform: box-shadow var(--duration) var(--timing-function);

     &:hover,
     &:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}

.footer__form-icon{
    fill:var(--primary-navigation-color);
    margin-bottom: -7px;
    margin-left: 10px;
}

@media screen and (min-width:768px){
    .footer__main-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }
.footer__social-form{
    width:450px;
}
}

@media screen and (min-width:1200px){
    .footer{
        text-align: unset;
    }
    .footer__main-container{
    display: flex;
    align-items: baseline;
    }
    .footer__social-form{
    width:unset;
    }

    .footer__contacts-wrapper{
        margin-bottom: unset;
    }
    
}

