

.header{
    background-color: var(--primary-navigation-color);
    border-bottom: 1px solid var(--border-color);
    padding-top: 26px;
    padding-bottom: 26px;

    &__burger-btn{
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    }

    &__burger-icon{
        width: 40px;
        height: 40px;
        fill: #211221;
    }

    &-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


}
.nav__logo{
    font-family: var(--secondery-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--akcent-color);
}

.nav__studio{
    color: var(--logo-studio-link-color); 
}


@media screen and (max-width: 767px){
.nav__list{
    display: none;
}
.contacts__list{
    display: none;
}
}

@media screen and (min-width:768px){
    .header{
        &__burger-btn{
            display: none;
        }
    }
}

@media screen and (min-width:768px) and (max-width:1200px){
    .nav{
    display: flex;
    align-items: center;
}
    .nav__list_margin{
    margin-left: 88px;
    }
    .nav__list{
    display: flex;
    }

    .nav__item{
&:not(:last-child){
    margin-right: 50px;
}
}

        .nav__link{
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        padding-top: 32px;
        padding-bottom: 32px;
        transition: color var(--duration) var(--timing-function);
        position: relative;

        &:hover,
        &:focus{
        color: var(--akcent-color);
        }
}

 .nav__link.current{
     color: var(--akcent-color);
     
     &.current::after{
    content:"";
    position: absolute;
    left:0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--akcent-color);
    transform: scaleX(1);
    transition: transform  var(--duration) var(--timing-function);
}
    &.current:hover::after,
    &.current:focus::after{
    transform: scaleX(0.4);  
       } 
}
.contacts__list{
        margin-left: auto;
        padding-top: 32px;
        padding-bottom: 32px;

        & a{
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color:var(--primary-description-color);
        transition: color  var(--duration) var(--timing-function);
        }
        }

        .contacts__item{
    margin-right: 15px;
    margin-bottom: 10px;
       }
        & a:hover,
        & a:focus{
        color: var(--akcent-color);
           }

            .contacts__icon{
            margin-right: 10px;
            fill:currentColor;
            &:hover,
            &:focus{
            color: var(--akcent-color);
               }
            }
}
@media screen and (min-width:1200px){
    .header{
    background-color: var(--primary-navigation-color);
    border-bottom: 1px solid var(--border-color);
}

.header-container{
    display: flex;
}
.nav{
    display: flex;
    align-items: center;
}
.nav__logo{
    font-family: var(--secondery-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--akcent-color);
}

.nav__studio{
    color: var(--logo-studio-link-color); 
}
.nav__list_margin{
    margin-left: 93px;
}
.nav__list{
    display: flex;

}
.nav__item{
&:not(:last-child){
    margin-right: 50px;
}
}

.nav__link{
display: block;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
padding-top: 32px;
padding-bottom: 32px;
transition: color var(--duration) var(--timing-function);
position: relative;

    &:hover,
    &:focus{
    color: var(--akcent-color);
}

}
 .nav__link.current{
     color: var(--akcent-color);
     
     &.current::after{
    content:"";
    position: absolute;
    left:0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--akcent-color);
    transform: scaleX(1);
    transition: transform  var(--duration) var(--timing-function);
}
    &.current:hover::after,
    &.current:focus::after{
    transform: scaleX(0.4);
} 

}
/*Контакты*/
.contacts__list{
    display: flex;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    
    & a{
display: flex;
align-items: center;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
color:var(--primary-description-color);
transition: color  var(--duration) var(--timing-function);
}

}

.contacts__item{
    &:not(:last-child){
    margin-right: 50px;
}
       & a:hover,
       & a:focus{
    color: var(--akcent-color);
}
}

.contacts__icon{
margin-right: 10px;
fill:currentColor;
   &:hover,
   &:focus{
    color: var(--akcent-color);
}

}
}
















// /*Контакты*/







// desctop

