:root{
    --main-font:'Roboto',sans-serif;
    --secondery-font:'Raleway', sans-serif;
    --primary-text-color:#212121;
    --primary-description-color:#757575;
     --akcent-color:#2196F3;
    --primary-navigation-color:#FFFFFF;
    --background-color-section:#F5F4FA;
     --hero-background-color:#C4C4C4;
     --adres-color:rgba(255, 255, 255, 0.6);
     --logo-studio-link-color:#000000;
     --border-color:#ECECEC;
     --bord-color:#AFB1B8;
     --footer-bg:#2F303A;
     --overlay-bg:rgba(33, 150, 243, 0.9);
     --services-overlay-bg:rgba(47, 48, 58, 0.8);
     --modal-bg-wp:rgba(0, 0, 0, 0.2);
     --duration: 250ms;
     --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
     --form-border:rgba(33, 33, 33, 0.2);
}