
.addres__item{
    &:not(:last-child){
    margin-bottom: 9px;
}

}

.addres__map{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
font-style: normal;
letter-spacing: 0.03em;
color: var(--primary-navigation-color);
transition: color  var(--duration) var(--timing-function);

&:hover,
&:focus{
    color:var(--akcent-color);
}
}

 .addres__link{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
font-style: normal;
color: var(--adres-color);
transition: color  var(--duration) var(--timing-function);

&:hover,
&:focus{
    color:var(--akcent-color);
}
}

