.menu__list{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    flex-wrap: wrap;
}
.menu__item{
margin-right: 8px;
margin-bottom: 15px;
}

.everything{
padding:6px 22px 6px 22px;
border-radius: 4px;
}
.web-sites{
padding:6px 22px 6px 22px;
border-radius: 4px;
}
.annexes{
padding:6px 22px 6px 22px;
border-radius: 4px;
}
.design{
padding:6px 22px 6px 22px;
border-radius: 4px;
}
.marketing{
padding:6px 22px 6px 22px;
border-radius: 4px;
}
 .menu__button{
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background-color: var(--background-color-section);
transition:color  var(--duration) var(--timing-function), background-color  var(--duration) var(--timing-function), border  var(--duration) var(--timing-function), box-shadow  var(--duration) var(--timing-function);
cursor: pointer;
border: 1px solid var(--background-color-section);

&:hover,
&:focus{
    color: var(--primary-navigation-color);
    background-color: var(--akcent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--akcent-color);
}
}
@media screen and (min-width:768px){
    .menu__list{
        margin-left: unset;
        margin-bottom: 30px;
        margin-top: unset;
        flex-wrap: unset;
        display: flex;
        justify-content: center;
    }

    .menu__item{
&:not(:last-child){
    margin-right: 8px;
}
    }
}


