.modal__window{
position: absolute;
top: 50%;
left: 50%;
width: 450px;
height: 609px;
transform: translate(-50%, -50%);
background-color: var(--primary-navigation-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding: 40px;

@media screen and (min: width 1200px){
    position: absolute;
top: 50%;
left: 50%;
width: 528px;
height: 581px;
transform: translate(-50%, -50%);
background-color: var(--primary-navigation-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding: 40px;
}
}