.modal__backdrop{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:var(--modal-bg-wp);
    z-index: 1000;
    transition: opacity var(--duration) var(--timing-function), visibility  var(--duration) var(--timing-function);
}