.modal__close{
position: absolute;
top:26px;
right: 9px;
display: flex;
width: 30px;
height: 30px;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
justify-content: center;
align-items: center;
cursor: pointer;
background-color: transparent;
padding: 0;
transition:  var(--duration) var(--timing-function);
}
.modal__close:hover,
.modal__close:focus{
    fill:var(--akcent-color);
}
@media screen and (min-width:480px){
    .modal__close{
       top:8px; 
    }
}
